REDDIT_USERNAME=
REDDIT_PASSWORD=
REDDIT_APP_ID=
REDDIT_APP_SECRET=
REDDIT_SUBREDDIT=
PG_DATABASE=
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=
NVIDIA_API_KEY=
GENERATION_MODEL=meta/llama-3.3-70b-instruct
EMBEDDING_MODEL=nvidia/llama-nemotron-embed-1b-v2
GIPHY_API_KEY=